[submodule "async"]
	path = async
	url = https://github.com/jay20162016/async
[submodule "hdl/async"]
	url = https://github.com/jay20162016/async
[submodule "hdl/tinyfpga_bx_usbserial"]
	url = https://github.com/davidthings/tinyfpga_bx_usbserial
